{% extends 'base.html' %}
{% load static %}
{% block page_title %}
    This is my blog page
 {% endblock page_title %}


{% block css_files %}
    <link rel="stylesheet" href="{%  static 'blog/index.css' %}">
    <link rel="stylesheet" href="{%  static 'blog/post.css' %}">

{% endblock css_files %}


{% block content %} 
    <section id="welcome">
        <header>
            <img src="{%  static '/blog/images/scan.jpg' %}" alt=" Subhankar - The author of the Blog">
            <h2>Subhankar's Blog</h2>
        </header>
        <p>Hi, I am Subhankar Karmakar I like to put blogs about technical contet</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>

        <ul>
            {% for latest_post in latest_posts %}
                {% include 'blog/includes/post.html' %}
            {% endfor %}
        </ul>
    </section>

    <section id="about">
        <h2>What I do</h2>
        <p>
            I love Mathematics & Computer Science. I love to hone young minds.
        </p>
        <p>
            My goal is to keep on growing as developer
        </p>
    </section>
{% endblock content %}
